@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 antialiased min-h-screen font-sans;
    margin: 0;
    padding: 0;
  }

  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    text-align: left;
    border-inline: none;
  }
}
